.footer {
  background-color: #0000000f;
  display: flex;
  height: 170px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__auth {
  font-size: 20px;
  margin-bottom: 18px;
}
.footer__phrase {
  text-align: center;
  font-size: 19px;
  margin: 0px 8px;
  color: #0000017f;
  margin-bottom: 10px;
}
.footer__copyright {
  margin-top: 0;
  font-size: 15px;
  color: #0000014f;
}
